---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


span.verse-no {
    color: $grey-color;
}

#chapter {
    > .chapter-ribbon {
        width: 100%;
        height: 300px;
        background-color: #3F51B5;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;

        h1 {
            color: white;
            margin: 0;
        }
    }

    > .chapter-main {
        margin-top: -215px;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;

        .mdl-cell {
            padding: 45px 35px 35px;
            margin-bottom: 40px;
        }

    }

    .original, .conclusion {
        position: relative;
        padding-top:10px;
        &:before {
            position:absolute;
            top:-25px;
            left:-15px;
            color:#BBB;
        }
    }

    .original {
        &:before {
            content: "#Origineel";
        }

        .mdl-switch {
            position: absolute;
            right:0px;
            top:-25px;
            width:120px;
            span {
                font-size:14px;
            }
        }

        &:not(.organized) {
            br {
                display: none;
            }
            p {
                margin: 0;
                display: inline;
            }
            ol, ul {
                padding: 0;
                display: inline;
                li {
                    display: inline;
                    list-style: none;
                }
            }
        }
    }
    .conclusion {
        &:before {
            content: "#Samenvatting"
        }
        .verse-no {
            display: none;
        }
    }
}