---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

span.verse-no {
    color: #828282;
}

#chapter {
    > .chapter-ribbon {
        width: 100%;
        height: 300px;
        background-color: #3F51B5;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;

        h1 {
            color: white;
            margin: 0;
        }
    }

    > .chapter-main {
        margin-top: -215px;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;

        .mdl-cell {
            padding: 45px 35px 35px;
            margin-bottom: 40px;
        }

    }

    .original, .summary {
        position: relative;
        padding-top:10px;
        &:before {
            position:absolute;
            top:-25px;
            left:-15px;
            color:#BBB;
        }

        .mdl-switch {
            position: absolute;
            right:0px;
            top:-25px;
            width: auto;
            display: inline-block;
            padding-right: 24px;
            span {
                font-size:14px;
            }
        }

    }

    .original {
        &:before {
            content: "#Origineel";
        }

        &:not(.organized) {
            br {
                display: none;
            }
            p {
                margin: 0;
                display: inline;
            }
            ol, ul {
                padding: 0;
                display: inline;
                li {
                    display: inline;
                    list-style: none;
                }
            }
        }
    }
    .summary {
        &:before {
            content: "#Samenvatting"
        }
        .verse-no {
            display: none;
        }
        @media (max-width: 840px - 1) {
            label.mdl-switch {
                display: none;
            }
        }
    }
}